<!-- NAVEGACION SUPERIOR -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="brand">
		<a href="index.html"><img src="/assets/img/logo-dark.png"
			alt="Klorofil Logo" class="img-responsive logo"></a>
	</div>
	<div class="container-fluid">
		<div class="navbar-btn">
			<button type="button" class="btn-toggle-fullwidth">
				<i class="lnr lnr-arrow-left-circle"></i>
			</button>
		</div>
		
		<!-- Busqueda -->
		<form class="navbar-form navbar-left">
			<div class="input-group">
				<input type="text" value="" class="form-control"
					placeholder="Buscar incidencia..."> <span
					class="input-group-btn"><button type="button"
						class="btn btn-primary">Buscar</button></span>
			</div>
		</form>
		
		<div id="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
			
				<!-- Notificaciones -->
				<li class="dropdown"><a href="#"
					class="dropdown-toggle icon-menu" data-toggle="dropdown">
					<i class="lnr lnr-alarm"></i>
					<!-- Numero de notificaciones -->
					<span class="badge bg-danger" th:text="${nots.size()}">1</span>
				</a>
					<!-- Poner foreach en notificaciones -->
					<ul class="dropdown-menu notifications">
						<li th:each="noti : ${nots}">
							<a th:if="${noti.incidencia.isOpen()}" href="#" class="notification-item"><span
							class="dot bg-success"></span><span th:text="${noti.description}">Notificacion de ejemplo</span></a>
							
							<a th:if="${noti.incidencia.isInProg()}" href="#" class="notification-item"><span
							class="dot bg-info"></span><span th:text="${noti.description}">Notificacion de ejemplo</span></a>
							
							<a th:if="${noti.incidencia.isClosed()}" href="#" class="notification-item"><span
							class="dot bg-default"></span><span th:text="${noti.description}">Notificacion de ejemplo</span></a>
							
							<a th:if="${noti.incidencia.isCancelled()}" href="#" class="notification-item"><span
							class="dot bg-danger"></span><span th:text="${noti.description}">Notificacion de ejemplo</span></a>
						</li>
						
					</ul></li>
					
				<!-- Perfil usuario -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><img src="/assets/img/perfil.png" weight="24px" height="24px"
						class="img-circle" alt="Avatar"> <span th:text="${operator.operatorname}">Usuario</span> <i
						class="icon-submenu lnr lnr-chevron-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="/"><i class="lnr lnr-user"></i> <span>Perfil</span></a></li>
						<li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Cerrar sesion</span></a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
<!-- END NAV SUP -->

<!-- NAVEGACION LATERAL IZQ -->
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
				<li><a href="/home" class="active"><i
						class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
				<li><a href="/incidences/list" class=""><i
						class="fa fa-exclamation-triangle"></i> <span>Incidencias</span></a></li>	
				<li><a href="/randomPetition" class=""><i
						class="fa fa-database"></i> <span>Mock generador de incidencias</span></a></li>			
			</ul>
		</nav>
	</div>
</div>
<!-- END NAV LEFT -->