<!doctype html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
<!-- CONTENEDOR -->
<div id="wrapper">
	<nav th:replace="fragments/nav" />

	<!-- MAIN -->
	<div class="main">
		<!-- CONTENIDO -->
		<div class="main-content">
			<div class="container-fluid">

				<!-- GENERAL -->
				<div class="panel panel-headline">
					<div class="panel-heading">
						<h3 class="panel-title">Dashboard</h3>
						<p class="panel-subtitle" th:text="${operator.operatorname}">Nombre del usuario</p>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-check-circle"></i></span>
									<p>
										<span class="number" th:text="${operator.getIncOPEN().size()}">12</span>
										<span class="title">Open</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-spinner"></i></span>
									<p>
										<span class="number" th:text="${operator.getIncProg().size()}">20</span>
										<span class="title">In process</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-times-circle"></i></span>
									<p>
										<span class="number" th:text="${operator.getIncCLOSED().size()}">27</span>
										<span class="title">Closed</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-ban"></i></span>
									<p>
										<span class="number" th:text="${operator.getIncCANCEL().size()}">35</span>
										<span class="title">Cancelled</span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div id="headline-chart" class="ct-chart"></div>
							</div>
							<div class="col-md-3">
								<div class="weekly-summary text-right">
									<span class="number" th:text="${operator.getIncOPEN().size()-operator.getIncCLOSED().size()}"></span> 
									<span class="percentage">
										<i class="fa fa-caret-up text-success" th:if="${(operator.getIncOPEN().size()-operator.getIncCLOSED().size())>=0}"></i>
										<i class="fa fa-caret-up text-danger" th:if="${(operator.getIncOPEN().size()-operator.getIncCLOSED().size())<0}"></i>  
										<span th:text="${operator.getIncOPEN().size()}">12</span> vs
										<span th:text="${operator.getIncCLOSED().size()}">12</span>
									</span>
									<span class="info-label">Open vs Closed</span>
								</div>
								<div class="weekly-summary text-right">
									<span class="number" th:text="${operator.getIncProg().size()-operator.getIncCANCEL().size()}"></span> 
									<span class="percentage">
										<i class="fa fa-caret-up text-success" th:if="${(operator.getIncProg().size()-operator.getIncCANCEL().size())>=0}"></i>
										<i class="fa fa-caret-up text-danger" th:if="${(operator.getIncProg().size()-operator.getIncCANCEL().size())<0}"></i>  
										<span th:text="${operator.getIncProg().size()}">12 </span> vs
										<span th:text="${operator.getIncCANCEL().size()}">12</span>
									</span>
									<span class="info-label">In process vs Cancelled</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END OVERVIEW -->

				<!-- Lista de notificaciones -->
				<div class="row">
					<div class="col-md-12">
						<!-- NOTIFICACIONES -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Notificaciones de incidencias</h3>
								<div class="right">
									<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
									<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
								</div>
							</div>
							<div class="panel-body no-padding">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Inci Name</th>
											<th>Desc</th>
											<th>Agent</th>
											<th>Tags</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="noti : ${nots}">
											<td><a th:href="@{/incidences/{path}(path= ${noti.incidencia.id})}" th:text="${noti.incidencia.inciName}">763648</a></td>
											<td th:text="${noti.description}">Steve</td>
											<td th:text="${noti.incidencia.agent.username}">$122</td>
											<td th:text="${noti.tagList()}">Oct 21, 2016</td>
											<td th:if="${noti.incidencia.isOpen()}"><span class="label label-success">OPEN</span></td>
											<td th:if="${noti.incidencia.isInProg()}"><span class="label label-info">In Process</span></td>
											<td th:if="${noti.incidencia.isClosed()}"><span class="label label-default">Closed</span></td>
											<td th:if="${noti.incidencia.isCancelled()}"><span class="label label-danger">Cancelled</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Notificaciones</span></div>
									<div class="col-md-6 text-right"><a href="#" class="btn btn-primary">Ver todas las incidencias</a></div>
								</div>
							</div>
						</div>
						<!-- END RECENT PURCHASES -->
					</div>
				</div>

				<!-- MAPA -->
				<div class="row">
					<div class="col-md-12"><div id="map" style="width:800px;height:800px"></div></div>
				</div>

			</div>
		</div>
		<!-- CONTENIDO -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">
				&copy; 2018 <a href="#" target="_blank">InciDashboard</a>. All Rights Reserved.
			</p>
		</div>
	</footer>
</div>
<!-- END CONTENEDOR -->

<!-- JS -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="assets/vendor/chartist/js/chartist.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Open', 'In process', 'Closed', 'Cancelled'],
			series: [
				[
					[[${operator.getIncOPEN().size()}]],
					[[${operator.getIncProg().size()}]],
					[[${operator.getIncCLOSED().size()}]],
					[[${operator.getIncCANCEL().size()}]]
				]
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);
	});
	/*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
function myMap()
{
	var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 2,
	    center: new google.maps.LatLng(43.518197, -5.641936),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });

	var infowindow = new google.maps.InfoWindow();

	var marker;

	var data = /*[[${incis}]]*/
	var dataInfo = /*[[${incisInfo}]]*/
	console.log(data);
	console.log(dataInfo);
    for (i = 1; i <= data.length; i++) {

			marker = new google.maps.Marker({
						position: new google.maps.LatLng(
								parseInt(data[i-1].latitude),
								parseInt(data[i-1].longitude)),
						map: map
					});
			console.log(i);

				google.maps.event.addListener(marker, 'click', (function(marker, i) {
					return function() {
						infowindow.setContent(dataInfo[i-1]);
						infowindow.open(map, marker);
					}
				})(marker, i));
    }
}
  /*]]>*/


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLJQKw9sNiw5jYMR2WdqkKHhWvnNFFx3E &callback=myMap"></script>
</body>

</html>
