<!doctype html>
<html lang="es">
<head th:replace="fragments/head" />
<body>
<!-- CONTENEDOR -->
<div id="wrapper">
	<nav th:replace="fragments/nav" />
	
	<!-- MAIN -->
	<div class="main">
		<!-- CONTENIDO -->
		<div class="main-content">
			<div class="container-fluid">
			
				<!-- GENERAL -->
				<div class="panel panel-headline">
					<div class="panel-heading">
						<h3 class="panel-title">Dashboard</h3>
						<p class="panel-subtitle" th:text="${agent.username}">Nombre del usuario</p>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-check-circle"></i></span>
									<p>
										<span class="number" th:text="${agent.getIncOPEN().size()}">12</span>
										<span class="title">Open</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-spinner"></i></span>
									<p>
										<span class="number" th:text="${agent.getIncProg().size()}">20</span>
										<span class="title">In process</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-times-circle"></i></span>
									<p>
										<span class="number" th:text="${agent.getIncCLOSED().size()}">27</span>
										<span class="title">Closed</span>
									</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="metric">
									<span class="icon"><i class="fa fa-ban"></i></span>
									<p>
										<span class="number" th:text="${agent.getIncCANCEL().size()}">35</span>
										<span class="title">Cancelled</span>
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<div id="headline-chart" class="ct-chart"></div>
							</div>
							<div class="col-md-3">
								<div class="weekly-summary text-right">
									<span class="number">60</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>
									<span class="info-label">Incidencias producidas</span>
								</div>
								<div class="weekly-summary text-right">
									<span class="number">27</span> <span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>
									<span class="info-label">Incidencias cerradas</span>
								</div>
								<div class="weekly-summary text-right">
									<span class="number">35</span> <span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>
									<span class="info-label">Incidencias canceladas</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END OVERVIEW -->
				
			</div>
		</div>
		<!-- CONTENIDO -->
	</div>
	<!-- END MAIN -->
	<div class="clearfix"></div>
	<footer>
		<div class="container-fluid">
			<p class="copyright">
				&copy; 2018 <a href="#" target="_blank">InciDashboard</a>. All Rights Reserved.
			</p>
		</div>
	</footer>
</div>
<!-- END CONTENEDOR -->

<!-- JS -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="assets/vendor/chartist/js/chartist.min.js"></script>
<script src="assets/scripts/klorofil-common.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	$(function() {
		var data, options;

		// headline charts
		data = {
			labels: ['Open', 'In process', 'Closed', 'Cancelled'],
			series: [
				[
					[[${agent.getIncOPEN().size()}]],
					[[${agent.getIncProg().size()}]],
					[[${agent.getIncCLOSED().size()}]],
					[[${agent.getIncCANCEL().size()}]]
				]
			]
		};

		options = {
			height: 300,
			showArea: true,
			showLine: false,
			showPoint: false,
			fullWidth: true,
			axisX: {
				showGrid: false
			},
			lineSmooth: false,
		};

		new Chartist.Line('#headline-chart', data, options);
	});
	/*]]>*/
</script>
</body>

</html>
